@{
    ViewData["Title"] = "Password Reset Successful";
}

<div class="container mt-5">
    <div class="alert alert-success shadow-sm rounded">
        <h4 class="alert-heading">Success!</h4>
        <p>Your password has been reset. You can now <a asp-controller="Home" asp-action="Login">log in</a>.</p>
    </div>
</div>
