@model TaskFlow.Models.Models.Project

<h2>Create Project</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-2">
        <label asp-for="ProjectCode"></label>
        <input asp-for="ProjectCode" class="form-control" />
        <span asp-validation-for="ProjectCode" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" type="date" class="form-control" />
    </div>

    <div class="form-group mb-2">
        <label asp-for="EstimatedTime"></label>
        <input asp-for="EstimatedTime" class="form-control" />
    </div>

    @if (User.IsInRole("Administrator"))
    {
        <div class="form-group mb-2">
            <label for="ProjectManagerId">Project Manager</label>
            <select asp-for="ProjectManagerId" class="form-control"
                    asp-items="@(new SelectList(ViewBag.ProjectManagers, "Id", "FullName", Model?.ProjectManagerId))">
                <option value="">-- Select Project Manager --</option>
            </select>
            <span asp-validation-for="ProjectManagerId" class="text-danger"></span>
        </div>

    }

    <button type="submit" class="btn btn-success">Save</button>
</form>
